body{
background-color: black;
}

h1{
  text-align: center;
  color: white;
  border-bottom: double;
}

h2{
  color: white;
}

h3{
  color: white;
}

p{
  color:white;
}

#astronomi{
  font-family:Courier;
}
