body{
background-color: black;
}

h1{
  text-align: center;
  color: white;
  font-size: oblique
}

h2{
  color: white;
}

h3{
  color: white;
}

p{
  color:white;
  font-style: italic;
}

#astronomi{
  font-family:Courier;
}
